
<label>Server Name</label>
<!--
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)" >
-->

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
>


<!--<p>{{serverName}}</p>-->
<br/>

<button class="btn btn-primary" [disabled]="!allowNewServer"
 (click)="onCreateServer()"
>Add Server</button>
<!--<p>{{ allowNewServer }}</p>-->
<!--<p [innerText]="allowNewServer"></p>-->

<p [innerText]="serverCreationStatus"
   *ngIf="serverCreated === true; else noServer"></p>

<ng-template #noServer>
  <p >No server was created !</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>

<hr/>

<label>User Name</label>
<input
  type="text"
  placeholder="User Name"
  class="form-control"
  [(ngModel)]="userName"
>
<br/>
<p>{{userName}}</p>
<button
  class="btn btn-primary"
  [disabled]="isUserNameEmpty()"
  (click)="resetUserName()"
> Reset UserName </button>


<br/><br/><br/>

<button class="btn btn-primary" (click)="manageToggle()">Toggle Message</button>

<p *ngIf="displayMessage">The Secret Message</p>

<br/><br/>

Log Items :


  <p *ngFor="let logValue of logValues; let i = index"
     [ngStyle]="{'background-color': getLogBackground(logValue)}"
     [ngClass]="{whiteText: (logValue>=5)}"
  >
    {{ logValue }}  - index is {{i}}
  </p>



<br/><br/><br/>
